.HomePage {
  position: relative;
  top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 76vh;
  overflow-y: auto;
  /* Enable vertical scrolling */
}

.title {
  font-family: 'Karantina', cursive;
  font-size: 16vw;
  color: #50565c;
  margin-bottom: 3vw;
  margin-top: 6vh;
  width: 100%;
  text-align: center;
}

.subtitle {
  font-family: 'Heebo', sans-serif;
  font-size: 5vmin;
  color: grey;
  text-align: center;
  margin-bottom: 6vh;
  margin-top: 6vh;
  width: 100%;
}

.pages-list {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.pages-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 2.5vh;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1vh;
}

.pages-list-item:last-child {
  border-bottom: none;
}

.pages-list-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.pages-list-title-homepage {
  flex-grow: 1;
  text-align: right;
  padding-left: 8vw;
  font-size: 3vh;
  color: #000000;
  font-weight: bolder;
}