.menu {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: #175a85;
    text-align: right;
    padding-top: 2vh;
    overflow: scroll;
    z-index: 6;
  }
  
  .menu-title {
    font-family: 'Heebo', sans-serif; 
    text-align: center;
    font-size: 8vw;
    color: white;
    margin-bottom: 5vh;
    margin-top: 19vh;
    margin-right: 4vw;
    padding: 5vw;
  }
  
  .menu-list {
    font-family: 'Heebo', sans-serif; 
    list-style-type: none;
    padding: 0vw;
    margin-top: 2vh;
  }
  
  .menu-list li {
    font-size: 5vw;
    color: white;
    padding-right: 5vw;
    margin-bottom: 3vh;
    border-bottom: 0.2vh solid white;
    padding: 1.5vh;
    text-align: center;
  }
  
  .closeBtn {
    position: fixed;
    top: 3vh;
    left: 3vw;
    width: 15vw;
  }
  
  .whiteLogo {
    width: 47vw;
    height: auto;
    position: absolute;
    top: 7vh;
    left: 25vw;
    padding: 2vw;
  }
  
  .menu-list li.active {
    background-color: white;
    color: #175a85;
  }