
  .title-page {
    font-family: 'Karantina', cursive;
    font-size: 16vw;
    color: #50565c;
    margin-bottom: 3vw;
    margin-top: 6vh;
    width: 100%;
    text-align: center;
  }
  
  .text-page {
    font-family: 'Heebo', sans-serif;
    font-size: 5vmin;
    color: grey;
    text-align: center;
    margin-bottom: 6vh;
    margin-top: 6vh;
    width: 100%;
  }